<head>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
</head>

<div class="main-box">
    <div class="header">
        To-Do:
    </div>
    <div class="main-content">
        <% if (context) { %>
            <%= context %>
        <% } %>
b;ah b;ahj
    </div>
</div>

<script type="text/javascript" src="/js/main.js"></script>
<link href="/css/style.css" rel="stylesheet" type="text/css">